USE [QLSieuThiEMarket]
GO
/****** Object:  Table [dbo].[CALAMVIEC]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALAMVIEC](
	[MaCa] [int] NOT NULL,
	[ThoiGianBatDau] [time](7) NULL,
	[ThoiGianKetThuc] [time](7) NULL,
 CONSTRAINT [PK_CALAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MaChamCong] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[Nam] [int] NULL,
	[Thang] [int] NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SoHD] [varchar](10) NOT NULL,
	[MaHH] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[ThanhTien] [int] NULL,
	[VAT] [int] NULL,
	[MaKM] [varchar](10) NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ctphieunhaphang]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ctphieunhaphang](
	[MaHangNhap] [varchar](10) NOT NULL,
	[SoPhieu] [varchar](10) NOT NULL,
	[SoLuongNhap] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[VAT] [int] NULL,
 CONSTRAINT [PK_ctphieunhaphang] PRIMARY KEY CLUSTERED 
(
	[MaHangNhap] ASC,
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUTRAHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUTRAHANG](
	[MaHangTra] [varchar](10) NOT NULL,
	[SoPhieuTra] [varchar](10) NOT NULL,
	[SoLuongTra] [int] NULL,
	[ThanhTien] [int] NULL,
	[Lydotrahang] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTPHIEUTRAHANG] PRIMARY KEY CLUSTERED 
(
	[MaHangTra] ASC,
	[SoPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSKHUYENMAI]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSKHUYENMAI](
	[MaLyDo] [varchar](10) NOT NULL,
	[TenKhuyenMai] [nvarchar](50) NULL,
	[LyDoKhuyenMai] [nvarchar](50) NULL,
	[PhanTramKhuyenMai] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DSKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaLyDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOCA]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOCA](
	[MaPhanCa] [int] NOT NULL,
	[MaCa] [int] NOT NULL,
	[SoTienBanGiao] [int] NULL,
	[SoTienThuDuoc] [int] NULL,
	[SoTienCatGiu] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_GIAOCA] PRIMARY KEY CLUSTERED 
(
	[MaPhanCa] ASC,
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MaHH] [varchar](10) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[MaNH] [varchar](10) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[GiaNhap] [int] NULL,
	[GiaBan] [int] NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[MaNCC] [varchar](10) NULL,
	[MaVach] [varchar](15) NULL,
	[DinhMuc] [int] NULL,
	[SoLuong] [int] NULL,
	[TrangThaiBan] [bit] NULL,
	[VAT] [int] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SoHD] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayLap] [nvarchar](50) NULL,
	[MaKH] [varchar](10) NULL,
	[VAT] [int] NULL,
	[TienKhachDua] [int] NULL,
	[TienThoi] [int] NULL,
	[TongTienKM] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[CMND] [varchar](13) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](12) NULL,
	[Diem] [int] NULL,
	[MaMucHang] [varchar](10) NULL,
	[NgayTao] [nvarchar](50) NULL,
	[NamGanBo] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [varchar](10) NOT NULL,
	[MaLyDo] [varchar](10) NULL,
	[NgayBatDau] [nvarchar](50) NULL,
	[NgayKetThuc] [nvarchar](50) NULL,
	[NgayTao] [nvarchar](50) NULL,
	[MaHH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCHANGKHACHHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCHANGKHACHHANG](
	[MaMucHang] [varchar](10) NOT NULL,
	[TenMucHang] [nvarchar](50) NULL,
	[ChietKhauTheoHang] [nchar](10) NULL,
	[DiemYeuCau] [int] NULL,
 CONSTRAINT [PK_MUCHANGKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaMucHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](14) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [varchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[MaQuyen] [varchar](10) NULL,
	[NgayVaoLam] [nvarchar](50) NULL,
	[NgayNghiViec] [nvarchar](50) NULL,
	[TrangThaiTK] [bit] NULL,
	[Luong] [int] NULL,
	[MaCong] [varchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHANG](
	[MaNH] [varchar](10) NOT NULL,
	[TenNH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMHANG] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCA]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCA](
	[MaPhanCa] [int] NOT NULL,
	[MaCa] [int] NULL,
	[NgayLamViec] [nvarchar](50) NULL,
	[MaNV] [varchar](10) NULL,
	[GhiChu] [nchar](10) NULL,
 CONSTRAINT [PK_PHANCA] PRIMARY KEY CLUSTERED 
(
	[MaPhanCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaQuyen] [varchar](10) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayTao] [date] NULL,
	[NhaCungCap] [varchar](10) NULL,
	[GiaNhap] [int] NULL,
	[Soluong] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRAHANG]    Script Date: 12/10/2023 6:42:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANG](
	[SoPhieuTra] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayTao] [date] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK_PHIEUTRAHANG] PRIMARY KEY CLUSTERED 
(
	[SoPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CALAMVIEC] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (1, CAST(N'06:30:00' AS Time), CAST(N'13:30:00' AS Time))
INSERT [dbo].[CALAMVIEC] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (2, CAST(N'13:30:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[CALAMVIEC] ([MaCa], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (3, CAST(N'18:00:00' AS Time), CAST(N'22:00:00' AS Time))
GO
INSERT [dbo].[HANGHOA] ([MaHH], [TenHH], [MaNH], [XuatXu], [GiaNhap], [GiaBan], [DonViTinh], [MaNCC], [MaVach], [DinhMuc], [SoLuong], [TrangThaiBan], [VAT]) VALUES (N'1', N'TUONG', N'NH01', N'Trung Quoc', 12000, 20000, N'Chai', N'NCC01', N'5645855597898', 23, 200, 1, 12)
INSERT [dbo].[HANGHOA] ([MaHH], [TenHH], [MaNH], [XuatXu], [GiaNhap], [GiaBan], [DonViTinh], [MaNCC], [MaVach], [DinhMuc], [SoLuong], [TrangThaiBan], [VAT]) VALUES (N'4', N'Nước mắm', N'NH01', N'Việt Nam', 20000, 25000, N'Chai', N'NCC01', N'56458497898', 12, 135, 1, 10)
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DiaChi], [SDT], [Diem], [MaMucHang], [NgayTao], [NamGanBo]) VALUES (N'KH01', N'Lê Phạm Nhật Hoàng', N'15656561515', N'TPHCM', N'0334587212', 7000, N'MH02', N'01/12/2016', 7)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [CMND], [DiaChi], [SDT], [Diem], [MaMucHang], [NgayTao], [NamGanBo]) VALUES (N'KH03', N'Võ Hữu Sang', N'35689415278', N'TPHCM', N'0359768661', 8000, N'MH01', N'01/05/2012', 11)
GO
INSERT [dbo].[MUCHANGKHACHHANG] ([MaMucHang], [TenMucHang], [ChietKhauTheoHang], [DiemYeuCau]) VALUES (N'MH01', N'Thương Gia', N'20        ', 5000)
INSERT [dbo].[MUCHANGKHACHHANG] ([MaMucHang], [TenMucHang], [ChietKhauTheoHang], [DiemYeuCau]) VALUES (N'MH02', N'Doanh Nhân', N'15        ', 3000)
INSERT [dbo].[MUCHANGKHACHHANG] ([MaMucHang], [TenMucHang], [ChietKhauTheoHang], [DiemYeuCau]) VALUES (N'MH03', N'Thường', N'10        ', 2000)
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [SDT]) VALUES (N'NCC01', N'Nuoc Mam Phan Thiet', N'Phan Thiet', N'0123456789')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [Email], [Username], [Password], [MaQuyen], [NgayVaoLam], [NgayNghiViec], [TrangThaiTK], [Luong], [MaCong]) VALUES (N'1', N'Nguyen Ngoc Sinh Vien', 1, N'01052003', N'012345679', N'23, Tran Phu, Ha Dong, Ha Noi', N'vien2345@gmail.com', N'admin', N'123456', N'1', N'01/01/2012', N'', 1, 64000000, N'N123')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [Email], [Username], [Password], [MaQuyen], [NgayVaoLam], [NgayNghiViec], [TrangThaiTK], [Luong], [MaCong]) VALUES (N'2', N'Lê Phạm Nhật Hoàng', 1, N'27/07/2003', N'0358964789', N'TPHCM', N'hoang@gmail.com', N'Hoanghuihui', N'223344', N'2', N'21/03/2011', N'21/03/2035', 1, 12000000, N'N012')
GO
INSERT [dbo].[NHOMHANG] ([MaNH], [TenNH]) VALUES (N'NH01', N'Gia vi')
GO
INSERT [dbo].[PHANQUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'1', N'Nhân viên bán hàng')
INSERT [dbo].[PHANQUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'2', N'Nhân viên kiểm kê')
INSERT [dbo].[PHANQUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'3', N'Nhân viên dọn vệ sinh')
GO
INSERT [dbo].[PHIEUNHAPHANG] ([SoPhieu], [MaNV], [NgayTao], [NhaCungCap], [GiaNhap], [Soluong]) VALUES (N'1', N'1', CAST(N'2023-03-21' AS Date), N'NCC01', 20000, 200)
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HANGHOA] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HANGHOA]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([SoHD])
REFERENCES [dbo].[HOADON] ([SoHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_KHUYENMAI] FOREIGN KEY([MaHH])
REFERENCES [dbo].[KHUYENMAI] ([MaKM])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_KHUYENMAI]
GO
ALTER TABLE [dbo].[ctphieunhaphang]  WITH CHECK ADD  CONSTRAINT [FK_ctphieunhaphang_HANGHOA] FOREIGN KEY([MaHangNhap])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[ctphieunhaphang] CHECK CONSTRAINT [FK_ctphieunhaphang_HANGHOA]
GO
ALTER TABLE [dbo].[ctphieunhaphang]  WITH CHECK ADD  CONSTRAINT [FK_ctphieunhaphang_PHIEUNHAPHANG] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[PHIEUNHAPHANG] ([SoPhieu])
GO
ALTER TABLE [dbo].[ctphieunhaphang] CHECK CONSTRAINT [FK_ctphieunhaphang_PHIEUNHAPHANG]
GO
ALTER TABLE [dbo].[CTPHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUTRAHANG_HANGHOA] FOREIGN KEY([MaHangTra])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[CTPHIEUTRAHANG] CHECK CONSTRAINT [FK_CTPHIEUTRAHANG_HANGHOA]
GO
ALTER TABLE [dbo].[CTPHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUTRAHANG_PHIEUTRAHANG] FOREIGN KEY([SoPhieuTra])
REFERENCES [dbo].[PHIEUTRAHANG] ([SoPhieuTra])
GO
ALTER TABLE [dbo].[CTPHIEUTRAHANG] CHECK CONSTRAINT [FK_CTPHIEUTRAHANG_PHIEUTRAHANG]
GO
ALTER TABLE [dbo].[GIAOCA]  WITH CHECK ADD  CONSTRAINT [FK_GIAOCA_CALAMVIEC] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CALAMVIEC] ([MaCa])
GO
ALTER TABLE [dbo].[GIAOCA] CHECK CONSTRAINT [FK_GIAOCA_CALAMVIEC]
GO
ALTER TABLE [dbo].[GIAOCA]  WITH CHECK ADD  CONSTRAINT [FK_GIAOCA_PHANCA] FOREIGN KEY([MaCa])
REFERENCES [dbo].[PHANCA] ([MaPhanCa])
GO
ALTER TABLE [dbo].[GIAOCA] CHECK CONSTRAINT [FK_GIAOCA_PHANCA]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHOMHANG] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NHOMHANG] ([MaNH])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHOMHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_MUCHANGKHACHHANG] FOREIGN KEY([MaMucHang])
REFERENCES [dbo].[MUCHANGKHACHHANG] ([MaMucHang])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_MUCHANGKHACHHANG]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_DSKHUYENMAI] FOREIGN KEY([MaLyDo])
REFERENCES [dbo].[DSKHUYENMAI] ([MaLyDo])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_DSKHUYENMAI]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_HANGHOA] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HANGHOA] ([MaHH])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_HANGHOA]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHANQUYEN] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PHANQUYEN] ([MaQuyen])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHANQUYEN]
GO
ALTER TABLE [dbo].[PHANCA]  WITH CHECK ADD  CONSTRAINT [FK_PHANCA_CALAMVIEC] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CALAMVIEC] ([MaCa])
GO
ALTER TABLE [dbo].[PHANCA] CHECK CONSTRAINT [FK_PHANCA_CALAMVIEC]
GO
ALTER TABLE [dbo].[PHANCA]  WITH CHECK ADD  CONSTRAINT [FK_PHANCA_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHANCA] CHECK CONSTRAINT [FK_PHANCA_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([NhaCungCap])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRAHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUTRAHANG] CHECK CONSTRAINT [FK_PHIEUTRAHANG_NHANVIEN]
GO
